html {
	font-size: 100%;
}

body {
	font-size: 1rem;
	line-height: 1.5em;
	background-color: #f5f3ef;
	color: #403726;
	font-family:
		"IBM Plex Sans",
		-apple-system, blinkmacsystemfont,
		"Helvetica Neue", Helvetica,
		"Segoe UI", roboto,
		oxygen-sans, ubuntu,
		cantarell, sans-serif;
}

a {
	color: #000;
	text-decoration-line: underline;
	text-decoration-color: #ccc;
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
	line-height: 1.5em;
}

h2 {
	font-size: 1rem;
	line-height: 1.5em;
}

code {
	font-family: "IBM Plex Mono", monospace;
	background-color: hsla(0, 0%, 0%, 0.1);
	color: hsla(0, 0%, 0%, 0.9);
}

*+* {
	margin-bottom: 1rem;
}

.Container {
	margin: 3rem 0;
	padding: 0 1.5rem;
}

@media (min-width: 54rem) {
	.Container {
		max-width: 42rem;
		margin: 6rem;
	}
}

.ContainerNav-List {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ContainerNav-ListItem {
	display: block;
	margin: 0.75rem 0;
}

.ContainerNav-ListItem--Section {
	margin-top: 3rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: hsla(30, 50%, 35%, 1);
	font-weight: 300;
	position: relative;
}

.ContainerNav-ListItem--Section::before {
	content: "⌜";
	position: absolute;
	top: 0;
	left: -1rem;
	font-size: 1rem;
	line-height: 0;
}

.ContainerNav-ListItem--Quoted {
	text-indent: -0.45rem;
}

.ContainerNav-ListItem a {
	text-decoration: none;
	color: #000;
}

.ContainerNav-ListItem a:hover,
.ContainerNav-ListItem a:focus {
	text-decoration: underline;
}

.SiteName {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.5em;
}

.Info {
	opacity: 0.7;
}