:root {
	/* The baseline font size on which everything else is set. */
	--base: 100%;

	/* Defines the vertical rhythm and font scale of the site. */
	--rhythm: 1.5625;

	/* Theme colors - light */
	--color-background: hsl(0, 0%,  98%);
	--color-body:       hsl(0, 0%,  30%);

	/* Theme font stacks */
	--font-body: "Inter", "Helvetica Neue", Helvetica, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, sans-serif;

	/* Theme font weights */
	--weight-body: 400;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Theme colors - dark */
		--color-background: hsl(0, 0%,  10%);
		--color-body:       hsl(0, 0%,  75%);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

* + * {
	margin-top: calc(1rem * var(--rhythm));
}

html {
	font-size: var(--base);
}

@media screen and (min-width: 50rem) {
	html {
		font-size: calc(1.2 * var(--base));
	}
}

body {
	font-size: 1rem;
	line-height: calc(1em * var(--rhythm));
	background-color: var(--color-background);
	color: var(--color-body);
	font-family: var(--font-body);
	font-weight: var(--weight-body);
	margin: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	font-feature-settings: 'liga' 1, 'calt' 1;
}

p,
h1,
h2,
li {
	overflow-wrap: break-word;
}

a {
	color: var(--color-body);
	text-decoration-line: underline;
	text-underline-offset: calc(0.03125rem * var(--rhythm));
	text-decoration-thickness: 1px;
	text-decoration-color: var(--color-body);
	text-decoration-skip-ink: all;
}

a:hover,
a:focus {
	text-decoration-thickness: 2px;
	text-decoration-color: var(--color-body);
	text-decoration-skip-ink: all;
}

h1,
h2 {
	font-weight: var(--weight-body);
}

h1 {
	font-size: calc(1rem);
	line-height: calc(1em * var(--rhythm));
	font-weight: var(--weight-body);
}

h2 {
	font-size: 1rem;
	line-height: calc(1em * var(--rhythm));
	font-weight: var(--weight-body);
}

abbr {
	text-decoration-thickness: 2px;
	text-decoration-style: dotted;
}

.Container {
	margin: 0;

	padding: calc(1rem * var(--rhythm));
	padding-bottom: calc(4rem * var(--rhythm));
}

@media (min-width: 40rem) {
	.Container {
		padding: calc(2rem * var(--rhythm));
		padding-bottom: calc(4rem * var(--rhythm));
	}
}

@media (min-width: 50rem) {
	.Container {
		max-width: calc(40rem * var(--rhythm));

		padding: calc(6rem * var(--rhythm));
		padding-bottom: calc(12rem * var(--rhythm));
	}
}

.ContainerLogo {
	grid-area: logo;
}

.ContainerNav {
	margin-top: 0;

	grid-area: nav;
}

.ContainerHeader {
	padding-bottom: calc(2rem * var(--rhythm));
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "logo logo . nav nav .";
	gap: calc(1rem * var(--rhythm));
	justify-items: start;
	align-items: stretch;
}


.ContainerNav-List {
	list-style: none;
	margin: 0;
	padding: 0;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 0 calc(1rem * var(--rhythm));
}

.ContainerNav-ListItem {
	margin-top: 0;
}

.ContainerNav-ListItem a {
	text-decoration: none;
}

.ContainerNav-ListItem a:hover,
.ContainerNav-ListItem a:focus {
	text-decoration: underline;
}

.ContainerContent section {
	padding: calc(2rem * var(--rhythm)) 0;
}

.ContainerContent ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ContainerContent ul > li {
	display: block;
	margin: calc(1rem * var(--rhythm)) 0 0 0;
}

.ContainerContent ul > li.Quoted {
	text-indent: -0.45rem;
}

.Me {
	display: block;
	border-bottom-right-radius: calc(1rem * var(--rhythm));
	width: calc(5rem * var(--rhythm));
	border: 3px solid var(--color-body);
}

.SiteName {
	text-decoration: none;
}

.SiteName .LastName {
	display: block;
}

.Info {
	color: var(--color-body);
}

.Copy {
	color: var(--color-body);
	display: block;
}

@media screen and (min-width: 50rem) {
	.Copy {
		display: inline-block;
		margin: 0;
		margin-left: calc(1rem * var(--rhythm));
	}
}

@media screen and (min-width: 50rem) {
	.Standard,
	.Platform,
	.Software {
		display: inline-block;
		min-width: calc(5rem * var(--rhythm));
	}
	
}

.Button {
	text-decoration: none;
}

.Button:hover,
.Button:focus {
	text-decoration: underline;
}
