{% extends "base.html" %}

{% block rss %}
    {% if section.generate_feeds %}
        {% set rss_path = section.path ~ "/atom.xml" %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=rss_path, trailing_slash=false) }}">
    {% else %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='atom.xml', trailing_slash=false) }}">
    {% endif %}
{% endblock %}

{% block title %}
    {% if section.title %}
        {{ section.title }}
    {% endif %}
{% endblock %}

{% block content %}
    <span class="">
        {{ section.content | markdown | safe }}
    </span>

    {{ list::post_list(section=section) }}
{% endblock %}
