
{% extends "base.html" %}

{% block title %}
    {% if section.title %}
        {{ section.title }}
    {% endif %}
{% endblock %}

{% block header %}
    <h1 class="block mb-6">
        <span class="text-base mb-1 block uppercase font-semibold tracking-widest text-slate-400">{{ taxonomy.name }}</span>
        <span class="">{{ term.name }}</span>
    </h1>
{% endblock %}

{% block content %}
    <p class="">
        The following is a list of posts covered on my
        <a href="{{ get_url(path="@/blog/_index.md") }}">Blog</a>,
        under the topic &ldquo;{{ term.name }}&rdquo;, sorted from
        most to least recent.
    </p>

    <p>
        <svg class="icon icon-rss mt-[-2px]"><use xlink:href="/icons/symbol-defs.svg#icon-rss"></use></svg>
        Feeds:
        <a href="/atom.xml">All Posts</a></li> &middot; <a href="/{{ taxonomy.slug }}/{{ term.slug }}/atom.xml">{{ term.name }} Posts</a>
    </p>

    {{ list::post_list(section=term) }}
{% endblock %}
