{% extends "base.html" %}

{% block title %}
    {% if section.title %}
        {{ section.title }}
    {% endif %}
{% endblock %}

{% block header %}
    <h1 class="block mb-6 text-2xl font-bold">Topics</h1>
{% endblock %}

{% block content %}
    <p class="">
        The following is a list of topics covered on my
        <a href="{{ get_url(path="@/blog/_index.md") }}">Blog</a>.
        This includes <em>any</em> topic I&rsquo;ve ever covered,
        sorted by decreasing frequency.
    </p>

    <ul class="list-none not-prose ps-0!">
        {% for term in terms | sort(attribute="page_count") | reverse %}
            <li class="py-2">
                <a class="font-normal block text-black dark:text-neutral-200 group" href="{{ term.permalink }}"><span class="inline-block mr-2 bg-stone-200 pt-[5px] pb-1 px-2 rounded-sm aspect-square h-6 text-center text-xs font-normal group-hover:bg-blue-500 group-hover:text-white dark:bg-neutral-700 dark:text-neutral-300">{{ term.page_count }}</span> <span class="group-hover:underline">{{ term.name }}</span></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
