
{% macro post_preview(post) %}
    <article>
        <h2 class="m-0! mb-1!">
            <a class="text-black dark:text-white no-underline hover:underline text-xl lg:text-2xl font-medium!" href="{{ post.permalink }}">
                {{ post.title | regex_replace(pattern=`"(?P<title>.+)"`, rep=`“$title”`) }}
            </a>
        </h2>

        <div class="text-sm lg:text-base text-gray-500">
            {{ post.date | date(format="%B %d, %Y") }}
            {% if post.taxonomies.type is containing("Mini") %}
                &middot; <a href="{{ post.permalink }}">Permalink</a>
            {% endif %}
        </div>

        <div class="mt-4 prose-a:underline">
            {% if post.taxonomies.type is containing('Blog') and post.summary %}
                {{ post.summary | markdown | safe }}
                <div class="block -mt-2">
                    <a class="inline-block !no-underline !text-blue-500 group" href="{{ post.permalink }}">
                        <span class="group-hover:decoration-2 group-hover:underline-offset-auto group-hover:underline group-hover:decoration-blue-500">Keep reading</span>
                        <svg class="icon icon-arrow-up-right">
                            <use xlink:href="{{ get_url(path = '/icons/symbol-defs.svg') }}#icon-arrow-up-right"></use>
                        </svg>
                    </a>
                </div>
            {% elif post.taxonomies.type is containing('Mini') %}
                {{ post.content | safe }}
            {% endif %}
        </div>
    </article>
{% endmacro %}
