<div class="inline-flex md:flex justify-end">
        <div id="theme-selector" class="flex justify-stretch items-stretch bg-neutral-100 dark:bg-neutral-900 -mt-1 p-[2px] rounded-full w-9 hover:w-[6.25rem] transition-[width] ease-linear duration-75 delay-300 hover:delay-0 overflow-x-clip overflow-y-visible">
            <a data-theme="light" class="
                theme-option
                data-active:bg-[radial-gradient(circle,rgba(147,197,253,0.75)_0%,rgba(147,197,253,0)_50%,rgba(147,197,253,0)_100%)]
                dark:data-active:bg-[radial-gradient(circle,rgba(147,197,253,0.25)_0%,rgba(147,197,253,0)_50%,rgba(147,197,253,0)_100%)]
                data-active:text-blue-600
                py-[2px] px-2
                rounded-full
                text-neutral-400
                hover:bg-blue-100
                dark:hover:bg-blue-500/25
                hover:text-blue-500
                " href="#">
                    <svg class="icon icon-sun mt-[-2px]">
                        <use xlink:href="{{ get_url(path = "/icons/symbol-defs.svg") }}#icon-sun"></use>
                    </svg>
            </a>
            <a data-theme="system" class="
                theme-option
                data-active:bg-[radial-gradient(circle,rgba(147,197,253,0.75)_0%,rgba(147,197,253,0)_50%,rgba(147,197,253,0)_100%)]
                dark:data-active:bg-[radial-gradient(circle,rgba(147,197,253,0.25)_0%,rgba(147,197,253,0)_50%,rgba(147,197,253,0)_100%)]
                data-active:text-blue-600
                py-[2px] px-2
                rounded-full
                text-neutral-400
                hover:bg-blue-100
                dark:hover:bg-blue-500/25
                hover:text-blue-500
                " href="#">
                    <svg class="icon icon-zap mt-[-2px]">
                        <use xlink:href="{{ get_url(path = "/icons/symbol-defs.svg") }}#icon-zap"></use>
                    </svg>
            </a>
            <a data-theme="dark" class="
                theme-option
                data-active:bg-[radial-gradient(circle,rgba(147,197,253,0.75)_0%,rgba(147,197,253,0)_50%,rgba(147,197,253,0)_100%)]
                dark:data-active:bg-[radial-gradient(circle,rgba(147,197,253,0.25)_0%,rgba(147,197,253,0)_50%,rgba(147,197,253,0)_100%)]
                data-active:text-blue-600
                py-[2px] px-2
                rounded-full
                text-neutral-400
                hover:bg-blue-100
                dark:hover:bg-blue-500/25
                hover:text-blue-500
                " href="#">
                    <svg class="icon icon-moon mt-[-2px]">
                        <use xlink:href="{{ get_url(path = "/icons/symbol-defs.svg") }}#icon-moon"></use>
                    </svg>
            </a>
        </div>
</div>
