---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Colophon"
  description="How Andrew Lilley Brinker’s website is built and published."
  socialImage="/social/about.png"
  socialImageAlt="Colophon"
>
  <h1>Colophon</h1>
  <p>
    This site is built with <a href="https://astro.build/">Astro</a>{" "}
    and <a href="https://tailwindcss.com/">Tailwind CSS</a>.
  </p>
  <p>
    Its typography uses <a href="https://fonts.google.com/specimen/Public+Sans">Public Sans</a>{" "}
    for sans-serif text and{" "}
    <a href="https://fonts.google.com/specimen/Merriweather">Merriweather</a>{" "}
    for display text.
  </p>
  <p>
    Every article is cross-published in{" "}
    <a href="https://standard.site/">standard.site</a>{" "}format to my PDS.
  </p>
  <p>
    You can{" "}<a href="https://standard-reader.app/p/did:plc:geozyv62fx63m7jhr4eraubc/alilleybrinker-site">view it in Standard Reader</a>.
  </p>
</BaseLayout>
