---
const target = '/about/#my-name';
---
<!doctype html><html lang="en"><head><meta charset="utf-8" /><meta http-equiv="refresh" content={`0; url=${target}`} /><link rel="canonical" href={target} /><script>window.location.replace('/about/#my-name');</script></head><body><p>Redirecting to <a href={target}>my name</a>.</p></body></html>
