---
import { getCollection } from 'astro:content';
import { legacyMiniSlugs, postPath, postSlug } from '../../lib/site';

export async function getStaticPaths() {
  return (await getCollection('blog'))
    .filter((post) => legacyMiniSlugs.has(postSlug(post)))
    .map((post) => ({ params: { slug: postSlug(post) }, props: { target: postPath(post) } }));
}
const { target } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${target}`} />
    <link rel="canonical" href={target} />
    <script define:vars={{ target }}>window.location.replace(target);</script>
  </head>
  <body><p>Redirecting to <a href={target}>the post</a>.</p></body>
</html>
