{% if page and page.title %}
    {% set title = page.title ~ " — " ~ config.title %}
    {% set original_title = page.title %}
{% elif section and section.title %}
    {% set title = section.title ~ " — " ~ config.title %}
    {% set original_title = section.title %}
{% else %}
    {% set title = config.title %}
{% endif %}

{% if page and page.description %}
    {% set description = page.description %}
{% elif section and section.description %}
    {% set description = section.description %}
{% else %}
    {% set description = config.description %}
{% endif %}

<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }}</title>

		<meta name="title" content="{{ title }}">
		<meta name="description" content="{{ description }}">

		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ config.base_url }}">
		<meta property="og:title" content="{{ title }}">
		<meta property="og:description" content="{{ description }}">
		<meta property="og:image" content="{{ get_url(path="social.png") }}">

		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="{{ config.base_url }}">
		<meta property="twitter:title" content="{{ title }}">
		<meta property="twitter:description" content="{{ description }}">
		<meta property="twitter:image" content="{{ get_url(path="social.png") }}">

		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		<link rel="stylesheet" href="{{ get_url(path="main.css") }}">
	</head>
	<body>
	    <div class="my-4 md:m-16 px-4 md:px-0 md:mx-auto subpixel-antialiased w-fit text-sm md:text-base">
			<div class="mb-6 md:mb-8">
			    <nav>
					<ul class="flex gap-4">
				        {% for entry in config.extra.nav %}
							{% if entry.sep %}
		                        <li class="text-gray-400">/</li>
						    {% else %}
						        <li><a href="{{ get_url(path=entry.url) }}" class="hover:underline {% if entry.bold %}font-semibold{% endif %}">{{ entry.name | safe }}</a></li>
						    {% endif %}
					    {% endfor %}
					</ul>
				</nav>
			</div>

			{% block header %}
                {% if original_title %}
                    <h1 class="block mb-6 text-xl md:text-2xl font-bold">
                        {{ original_title }}
                        {% if page and page.date %}
                            <span class="block md:inline text-sm md:text-base text-gray-500 font-normal md:ml-4">Posted on {{ page.date | date(format="%B %-d, %Y") }}</span >
                        {% endif %}
                        {% if page and page.taxonomies['topics'] %}
                            <span class="text-sm md:text-base text-gray-500 font-normal mr-2 md:mr-0 md:ml-4">
                                {% for topic in page.taxonomies['topics'] %}
                                    <a class="text-xs relative -top-[2px] py-1 px-2 rounded-md bg-gray-100 hover:bg-gray-600 hover:text-gray-100" href="{{ get_taxonomy_url(kind="topics", name=topic) }}">{{ topic }}</a >
                                {% endfor %}
                            </span>
                        {% endif %}
                    </h1>
                {% endif %}
            {% endblock %}

			<div class="md:flex gap-16">
    	        <div class="
    					prose
                        prose-sm md:prose-base
    					prose-p:text-black
    					prose-li:text-black
    					prose-a:text-black
    					prose-a:font-normal
    					prose-a:decoration-1 hover:prose-a:decoration-2
    					prose-a:underline-offset-2 hover:prose-a:underline-offset-auto
    					prose-a:decoration-gray-300 hover:prose-a:decoration-gray-800
    					prose-code:after:content-[''] prose-code:before:content-['']
    					">
    				{% block content %}{% endblock %}
    			</div>

                <div class="mt-8 md:mt-0 md:max-w-60">
                    {% block sidebar %}
                    {% endblock %}
                </div>
			</div>
		</div>
	</body >
</html>
