{% if page and page.title %}
    {% set title = page.title ~ " — " ~ config.title %}
    {% set original_title = page.title %}
{% elif section and section.title %}
    {% set title = section.title ~ " — " ~ config.title %}
    {% set original_title = section.title %}
{% else %}
    {% set title = config.title %}
{% endif %}

{% if page and page.description %}
    {% set description = page.description %}
{% elif section and section.description %}
    {% set description = section.description %}
{% else %}
    {% set description = config.description %}
{% endif %}

{% if page and page.summary %}
    {% set social_description = page.summary | striptags %}
{% else %}
    {% set social_description = description %}
{% endif %}

<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }}</title>

		<meta name="title" content="{{ title }}">
		<meta name="description" content="{{ social_description }}">

		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ config.base_url }}">
		<meta property="og:title" content="{{ title }}">
		<meta property="og:description" content="{{ social_description }}">
		<meta property="og:image" content="{{ get_url(path="social.png") }}">

		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="{{ config.base_url }}">
		<meta property="twitter:title" content="{{ title }}">
		<meta property="twitter:description" content="{{ social_description }}">
		<meta property="twitter:image" content="{{ get_url(path="social.png") }}">

		<link rel="stylesheet" href="{{ get_url(path="main.css") }}">
	</head>
	<body class="bg-stone-50">
	    <div class="subpixel-antialiased">
			<div class="py-20 text-black text-xl">
			    <nav class="md:max-w-screen-md md:mx-auto">
					<ul class="flex gap-8">
	                    <li>
							<a href="{{ get_url(path='@/_index.md') }}"
							   class="
									whitespace-nowrap
									relative
									hover:underline
									before:absolute
									before:-left-8
									before:top-1
									before:rounded-sm
									before:rotate-6
									before:h-4
									before:w-4
									before:inline-block
									before:bg-blue-500
								">
								<span class='h-card'><span class='p-given-name'>Andrew</span> <span class='p-family-name'>Lilley Brinker</span></span></a></li>
						<li>
						    <ul class="flex gap-8">
                  		        {% for entry in config.extra.nav %}
                 			        <li><a href="{{ get_url(path=entry.url) }}" class="hover:underline">{{ entry.name | safe }}</a></li>
                 			    {% endfor %}
							</ul>
						</li>
					</ul>
				</nav>
			</div>

			<div class="px-5 lg:px-0 md:max-w-screen-md md:mx-auto">
    			<div class="mb-32">
           	        <div class="
                        mb-10
       					prose
                        prose-base md:prose-base prose-stone
                        prose-headings:font-normal
       					prose-a:text-black
       					prose-a:font-normal
       					prose-a:decoration-1 hover:prose-a:decoration-2
       					prose-a:underline-offset-2 hover:prose-a:underline-offset-auto
       					prose-a:decoration-stone-400 hover:prose-a:decoration-stone-800
       					prose-code:after:content-none prose-code:before:content-none
                        prose-blockquote:font-normal prose-blockquote:not-italic
                        prose-blockquote:text-base
                        prose-figure:bg-blue-50 prose-figure:p-4
                        prose-figure:border prose-figure:border-blue-100
                        prose-figure:rounded-md
                        prose-blockquote:border-l-blue-200
                        prose-blockquote:text-black
                        prose-figcaption:text-blue-950 prose-figcaption:opacity-70
                        prose-code:font-normal
       					">
             			{% block header %}
                             {% if original_title %}
                                 <h1 class="block mb-5 text-3xl md:text-4xl">
                                     {{ original_title }}

                                     {% if page and page.date %}
                                         <span class="block text-sm md:text-base mt-4 text-gray-500 font-normal">Posted on {{ page.date | date(format="%B %-d, %Y") }}</span >
                                     {% endif %}
                                     {% if page and page.taxonomies['topics'] %}
                                         <span class="block text-sm md:text-base font-normal mt-4 mr-2 md:mr-0">
                                             {% for topic in page.taxonomies['topics'] %}
                                                 <a class="text-xs relative -top-[2px] py-1 px-2 no-underline bg-slate-200 text-black rounded-md hover:bg-blue-200" href="{{ get_taxonomy_url(kind="topics", name=topic) }}">{{ topic }}</a >
                                             {% endfor %}
                                         </span>
                                     {% endif %}
                                 </h1>
                             {% endif %}
                         {% endblock %}

        				{% block content %}{% endblock %}
         			</div>
    			</div>
			</div>
		</div>
	</body >
</html>
