{% extends "base.html" %}

{% block title %}
    {% if section.title %}
        {{ section.title }}
    {% endif %}
{% endblock %}

{% block content %}
    <p>I work on software security at <a href="https://www.mitre.org">MITRE</a>,
        including leading development of <a href="https://mitre.github.io/hipcheck">Hipcheck</a>
        and serving on the <a href="https://omnibor.io">OmniBOR</a> Core Team.
        You can <a href="{{ get_url(path='@/about.md#where-to-find-me') }}">find me around</a>.</p>

    <div class="pb-4">
        <h2 class="mb-0! text-2xl! text-slate-700 dark:text-neutral-400 inline-block">Latest Posts</h2>
        {% set blog_section = get_section(path="blog/_index.md") %}
        {{ list::post_list(section=blog_section, limit=3) }}
    </div>
{% endblock %}
