{% extends "base.html" %}

{% block title %}
    {% if section.title %}
        {{ section.title }}
    {% endif %}
{% endblock %}

{% block content %}
    <p class="text-xl leading-normal">I work on software security as a Principal Engineer at <a href="https://www.mitre.org">MITRE</a>,
        including working on the CVE system, leading development of <a href="https://mitre.github.io/hipcheck">Hipcheck</a>,
        and serving on the <a href="https://omnibor.io">OmniBOR</a> Core Team.</p>
    <p class="text-xl leading-normal">You can <a href="{{ get_url(path='@/about.md#where-to-find-me') }}">find me around</a>.</p>

    <div class="pb-4">
        <h2 class="!mb-0 !text-2xl lg:!text-3xl text-slate-700 dark:text-neutral-400 inline-block">Latest Blog Posts</h2>
        {% set blog_section = get_section(path="blog/_index.md") %}
        {{ list::post_list(section=blog_section, limit=3) }}
    </div>

    <div class="pb-4">
        <h2 class="!mb-0 !text-2xl lg:!text-3xl text-slate-700 dark:text-neutral-400 inline-block">Latest Mini Posts</h2>
        {% set mini_section = get_section(path="mini/_index.md") %}
        {{ list::post_list(section=mini_section, limit=3) }}
    </div>
{% endblock %}
