{% extends "base.html" %}

{% block title %}
    {% if section.title %}
        {{ section.title }}
    {% endif %}
{% endblock %}

{% block header %}
    <h1 class="block mb-6 text-2xl font-bold">Topics</h1>
{% endblock %}

{% block content %}
    <p>
        The following is a list of topics covered on my
        <a href="{{ get_url(path="@/blog/_index.md") }}">Blog</a>.
        This includes <em>any</em> topic I&rsquo;ve ever covered,
        sorted by decreasing frequency.
    </p>

    <ul class="list-none not-prose">
        {% for term in terms | sort(attribute="page_count") | reverse %}
            <li class="py-2">
                <a class="font-normal block text-black group" href="{{ term.permalink }}"><span class="inline-block mr-2 bg-stone-200 py-1 px-2 rounded-md text-xs font-normal">{{ term.page_count }}</span> <span class="group-hover:underline">{{ term.name }}</span></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
